{% extends "base.html" %} {% block content%}

<main class="mt-5">
  <div class="row d-flex justify-content-center text-center">
    <form action="{% url 'tutor_status' %}" method="post">
      {% csrf_token %}
      <h3>Current status: {{ current_status }}</h3>

      <div class="form-group">
        <label for="class_name">Are you available to tutor?</label>
        {{ form.status }}
      </div>
      <div class="form-group">
        <label for="class_name">If so, where would you like to tutor?</label>
        {{ form.location}}
      </div>
      <button
        type="submit"
        class="btn btn-outline-success"
        value="Change your status"
      >
        Set status
      </button>
    </form>
  </div>
</main>

{% endblock content%}
