{% extends "base.html" %} {% block content%}

<main class="mt-5">
  <div class="card px-3 py-3 mb-3 my-3" style="width: 60%; margin: auto auto;">
    <form method="POST">
      <fieldset>
        <legend class="border-bottom mb-4">Change Your Tutoring Status</legend>

        <p>Your current status: {{ current_status }}</p>

        <form action="{% url 'tutor_status' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="class_name" class="col-form-label"
              >Are you available to tutor?</label
            >
            {% for checkbox in form.status %}
            <div class="checkbox">
              <label>
                {{ checkbox.tag }} {{ checkbox.choice_label }}
              </label>
            </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="class_name" class="col-form-label"
              >Where would you like to tutor?</label
            >
            <div>
              {{ form.location }}
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-outline-success"
            value="Change your status"
          >
            Set status
          </button>
        </form>
      </fieldset>
    </form>
  </div>
</main>

{% endblock content%}
