{% extends 'base.html' %}{% block content %}

<main class="mt-5">
  <div class="card px-3 py-3 mb-3 my-3" style="width: 60%; margin: auto auto;">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Become a Tutor
      </legend>
    </fieldset>

    <form action="{% url 'add' %}" method="POST" role="form">
      {% csrf_token %}
      <div class="form-group">
        What classes could you provide tutoring in?
        <div class="input-group d-flex"> 
          {{ form.class_name }}
          <button type="submit" class="btn btn-outline-success" id="add-btn">
            Add
          </button>    
        </div>
      </div>
    </form>

    Classes you've selected:
    <ul class="list-group">
      {% for class in tutorProfile_list %}
      {% if user.userprofile == class.user %}
        <form action="/delete/{{class.id}}" method="POST" role="form">
          {% csrf_token %}
          <li class="list-group-item" style="border: 1px solid rgba(0,0,0,.125)">
          {{ class.class_name }}
            <button type="submit" class="btn btn-outline-success" id="delete-btn" style="position: absolute; right: 0; margin-right:0">
              Delete
            </button>
          </li>
        </form>
      {% endif %}
      {% endfor %}
    </ul>
</main>

{% endblock %}
