{% extends 'base.html' %}{% block content %}

<main class="mt-5">
  <div class="card px-3 py-3 mb-3 my-3" style="width: 60%; margin: auto auto;">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Become a Tutor
      </legend>
    </fieldset>

    <form action="{% url 'add' %}" method="POST" role="form">
      {% csrf_token %}
      <div class="form-group">
        What classes could you provide tutoring in?
        <div class="input-group" style="width: 30%">
          {{ form.class_name }}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-outline-success" id="add-btn">
              Add
            </button>
          </span>
        </div>
      </div>
    </form>

    Classes you've selected:
    <ul class="list-group" style="width: 40%">
      {% for class in tutorProfile_list %}
      {% if user.userprofile == class.user %}
        <li class="list-group-item" style="border: 1px solid rgba(0,0,0,.125)">{{ class.class_name }}</li>
      {% endif %}
      {% endfor %}

    </ul>

</main>


{% endblock %}
