{% extends 'base.html' %}{% block content %}

<main class="mt-5">
  <div class="card px-3 py-3 mb-3 my-3" style="width: 60%; margin: auto auto;">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Become a Tutor
      </legend>
    </fieldset>

    <form action="{% url 'add' %}" method="POST" role="form">
      {% csrf_token %}
      <div class="form-group">
        <div class="input-group">
          {{ form.class_name }}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-outline-success" id="add-btn">
              Add
            </button>
          </span>
        </div>
      </div>
    </form>

    <ul class="list-group t20">
      Classes I Can Tutor: {% for profile in tutorProfile_list %}
      <li class="list-group-item">
        {{ profile.class_name }}
      </li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}
