{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please enter your phone number to validate your account!</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        <div class="border-top pt-3 pb-4">
            <small class="text-muted">
                Already done this? <a href=".." class="ml-2">Homepage</a>
            </small>
        </div>
    </div>
{% endblock %}