{% extends 'base.html' %} {% block content %}
<main class="mt-5">
  <div class="card px-3 py-3 mb-3 my-3" style="width: 60%; margin: auto auto;">
    <form action=" " method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Please enter your name and phone number to validate your account!
        </legend>
        {{ form.as_p }}
      </fieldset>

      <div class="form-group">
        <button class="btn btn-outline-success" type="submit">
          Verify Account
        </button>
      </div>
    </form>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}
