{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Material Design for Bootstrap fonts and icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />

    <!-- Material Design for Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-dark"
        style="background-color: #181818;"
      >
        <a class="navbar-brand" style="color: white;"> Tuber </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'editprofile' %}"
                >Edit Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'request_help' %}"
                >Request Tutor</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tutor_status' %}"
                >Start Tutoring</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'requests-home' %}"
                >List Requests</a
              >
            </li>
          </ul>
          <span class="navbar-text">
            {% if user.is_authenticated %} You are signed in as
            <strong>{{ user.username }}.</strong>
            {% else %}
            <a href="{% url 'login' %}">login</a>
            / {% endif %}
          </span>
        </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        {% block content %} {% endblock %}
      </div>
    </main>
  </body>
</html>
