{% extends 'base.html' %} {% block content %}
<div class="container">
  <ul class="list-group list-group-flush">
    <h4 class="pt-2" style="text-align: center;">Request:</h4>

    <article class="media content-section">
      <div class="row row-cols-1 row-cols-md-2">
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">class: {{ request.class_name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                location: {{ request.location }}
              </h6>
              <p class="card-text">topic: {{ request.topic }}</p>
              <p class="card-text">{{ request.day }}</p>
              <p class="card-text">${{ request.time }}</p>
            </div>
            <div class="card-footer">
              <h5 class="card-title">Hello {{ user.username }}!</h5>
              
              <div style="font-weight: bold;">Your location:</div>
              {{start}}<br />
              <br />
              <div style="font-weight: bold;">Student's location:</div>
              {{end}}<br />
              <br />
              This tutor request is {{ distance.text }} away, which should take
              about {{ duration.text }} walking.
              <br/>
              <br/>
              <div style="font-weight: bold;">Student's name:</div>
              {{request.name}}<br />
              <br/>
              <div style="font-weight: bold;">Contact the student:</div>
              {{request.phone}}<br />
            </div>
          </div>
        </li>
      </div>
    </article>
    {% endblock %}
  </ul>
</div>
