{% extends 'base.html' %}

{% block content %}
    <ul class="list-group list-group-flush container">
        <h4 class="pt-2">Current Requests:</h4>
        {% for request in requests %}
            <li class="list-group-item">
                <article class="media content-section">
                    <div class="media-body">
                        <h5 class="article-title">class: {{ request.class_name }}</h5>
                        <h6 class="text-muted">topic: {{ request.topic }}</h6>
                        <h6 class="text-muted">location: {{ request.location }}</h6>
                        <button type="submit" class="btn btn-sm btn-primary">contact student</button>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock %}