{% extends 'base.html' %} {% block content %}
<ul class="list-group list-group-flush container">
  <h4 class="pt-2">Current Requests:</h4>
  {% for request in requests %}
  <li class="list-group-item">
    <article class="media content-section">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">class: {{ request.class_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            location: {{ request.location }}
          </h6>
          <p class="card-text">
            topic: {{ request.topic }}
            Date : {{request.day}}
            Payment : ${{request.time}}
          </p>
          <button type="submit" class="btn btn-outline-success">
            Contact Student
          </button>
        </div>
      </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
